.filters {
    color: #fff;
}

.filters-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filters-blok__section-1 {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.filters-blok__section-1 input {
    font-size: 105%;
    padding: 5px;
    outline: none;
    min-width: 250px;
    border-radius: 2px;
    border: none;
    font-family: "Inter", sans-serif;
    background: none;
}

.filters-blok__section-1__icon {
    color: var(--blue-light-color);
    width: 25px;
    height: 25px;
}

.filters-blok__section-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.filters-blok__section-2__part-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #ddd;
}

.filters-blok__section-2__part-2 {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    position: relative;
}

.filters-blok__section-2__part-2__button {
    font-size: 105%;
    padding: 5px 10px;
    width: 150px;
    cursor: pointer;
    transition: .5s;
    color: #000;
    border: 1px solid #ddd;
}

.filters-blok__section-2__part-2__button:hover {
    opacity: .5;
}

.filters-blok__section-2__part-2__button.active {
    background-color: var(--blue-light-color);
    color: #fff;
}

.filters-blok__section-2__part-2 div {
    border: 1px solid #ddd;
    display: flex;
    justify-content: start;
    align-items: center;
}

.filters-blok__section-2__part-2 input {
    font-size: 105%;
    padding: 5px 10px;
    outline: none;
    border: none;
    width: 150px;
    font-family: "Inter", sans-serif;
}

.filters-blok__section-2__icon {
    width: 15px;
    height: 15px;
    color: #000;
}

.city-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    top: 100%;
    margin-top: 10px;
    border: 1px solid var(--blue-light-color);
    box-shadow: 0px 0px 10px 1px rgba(181, 181, 181, 1);
}

.city-dropdown li {
    padding: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid var(--blue-light-color);
}

.city-dropdown li:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .filters-blok {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .filters-blok__section-1 {
        width: 100%;
    }
    .filters-blok__section-1 input {
        font-size: 100%;
        padding: 3px 7px;
        outline: none;
        width: 100%;
        border: none;
    }
    .filters-blok__section-1__icon {
        width: 20px;
        height: 20px;
    }
    .filters-blok__section-2 select {
        padding: 10px 20px;
    }
    .filters-blok__section-2__part-1 input {
        width: 100%;
    }
    .filters-blok__section-2__part-2__button {
        width: 90%;
        font-size: 90%;
    }
    .filters-blok__section-2__part-2 input {
        width: 90%;
        font-size: 95%;
    }
}

@media (max-width: 390px) {
    .filters-blok__section-2__part-2 {
        gap: 5px;
    }
}