.header {
    width: 100%;
    height: 100vh;
    background-image: url('/images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    color: var(--blue-dark-color);
    overflow: hidden;
}

.header-blok {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header-blok__section-2 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 70px;
}

.header-blok__section-2 a {
    width: 200px;
}

.header-blok__section-2 a button {
    width: 200px;
    padding: 10px 20px;
    font-size: 110%;
    transition: .5s;
    background-color: var(--blue-dark-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
}

.header-blok__section-2 a button:hover {
    opacity: .7;
}

.header-blok__section-2-part {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.header-blok__section-2-part h1 {
    font-size: 400%;
}

.header-blok__section-2-part-2 {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    gap: 30px;
}

.header-blok__section-2-part__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.header-blok__section-2-part__container-p1 {
    font-size: 250%;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

@media (max-width: 830px) {
    .header-blok__section-2 {
        margin-left: 0;
        align-items: center;
    }
    .header-blok__section-2-part-2 {
        margin-left: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header {
        background-position: right;
    }
    .header-blok {
        backdrop-filter: blur(5px);
    }
    .header-blok__section-2-part h1 {
        text-align: center;
        font-size: 220%;
    }
    .header-blok__section-2-part-2 {
        font-size: 90%;
        flex-wrap: wrap;
    }
    .header-blok__section-2-part__container-p1 {
        font-size: 150%;
    }
    .header-blok__section-2 a button {
        width: 180px;
        padding: 10px 20px;
        font-size: 90%;
        margin-top: 40px;
    }
}

@media (max-width: 425px) {
    .header-blok__section-2-part__container-p1 {
        font-size: 220%;
    }
}