.navbar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 998;
    background-color: var(--bg-light-color);
}

.navbar-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-blok__section-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.navbar-blok__section-1 a,
.navbar-blok__section-2 a {
    text-decoration: none;
}

.navbar-blok__section-1 a {
    text-decoration: none;
}

.navbar-blok__section-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.navbar-blok__section-2 div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.navbar-blok__section__p {
    transition: .5s;
    cursor: pointer;
}

.navbar-blok__section__p:hover {
    opacity: .7;
}

.navbar-blok__section-1 img {
    width: 120px;
    height: 70px;
    object-fit: cover;
}

.navbar-blok__section__icon {
    color: #fff;
    width: 25px;
    height: 25px;
    transition: .5s;
    cursor: pointer;
}

.navbar-blok__section__icon:hover {
    opacity: .7;
}

.navbar-blok__section-2__button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: .5s;
    cursor: pointer;
    background-color: var(--blue-light-color);
    color: #fff;
    font-weight: bold;
    font-size: 105%;
}

@media (max-width: 768px) {

}