.no-auth {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-auth p {
    cursor: pointer;
}

.no-auth p a {
    text-decoration: none;
    color: var(--blue-light-color);
    transition: .5s;
}

.no-auth p a:hover {
    opacity: .7;
}