.notifications {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 999 !important;
    display: flex !important;
    flex-direction: column !important;
}

.notifications__modal {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
    background-color: #fff !important;
    padding: 20px !important;
    border-radius: 8px !important;
    max-width: 600px !important;
    width: 100% !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
    overflow-y: auto !important;
    margin: 20px 10px !important;
}

.notifications-blok {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    gap: 10px !important;
    max-width: 600px !important;
    overflow-y: auto !important;
}

.notifications-blok__header {
    display: flex !important;
    justify-content: space-between !important;
    gap: 10px !important;
    align-items: center !important;
    width: 100% !important;
}

.notifications-blok__header__icon {
    width: 35px;
    height: 35px;
    transition: .5s;
    cursor: pointer;
}

.notifications-blok__header__icon:hover {
    opacity: .5;
}

.notifications-blok__section {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 10px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid var(--text-color);
}

.notifications-blok__section-part-1 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
}

.notifications-blok__section-part-1__icon {
    width: 25px !important;
    height: 25px !important;
    color: #000 !important;
}

.notifications-blok__section-part-2 {
    display: flex !important;
    justify-content: flex-start !important;
    gap: 5px !important;
    width: 250px;
}

.notifications-blok__section-part-2 a {
    text-decoration: none !important;
    color: #000 !important;
    transition: .5s !important;
    font-size: 90%;
}

.notifications-blok__section-part-2 a:hover {
    opacity: .7 !important;
}

.notifications-blok__section-part-3 {
    display: flex !important;
    justify-content: flex-start !important;
    gap: 5px !important;
    align-items: center !important;
}

.notifications-blok__section-part-3 a {
    width: 100px;
    font-weight: bold;
}

.notifications-blok__section-part-3__span {
    text-decoration: none !important;
    width: 150px !important;
    color: var(--blue-light-color) !important;
    transition: .5s !important;
}

.notifications-blok__section-part-3__span:hover {
    opacity: .7 !important;
}

.notifications-blok__section-part-3__icon {
    width: 25px !important;
    height: 25px !important;
    color: #000 !important;
    transition: .5s !important;
    cursor: pointer !important;
}

.notifications-blok__section-part-3__icon:hover {
    color: red !important;
}

@media (max-width: 768px) {
    .notifications {
        padding: 0 !important;
    }
    .notifications__modal {
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .notifications-blok {
        align-items: center !important;
        width: 100% !important;
    }
}

@media (max-width: 620px) {
    .notifications__modal {
        padding: 20px 10px !important;
    }
    .notifications-blok__section {
        width: 100% !important;
        padding: 15px !important;
    }
    .notifications-blok__section-part-1__icon {
        width: 15px !important;
        height: 15px !important;
    }
    .notifications-blok__section-part-2 {
        width: 250px;
    }
    .notifications-blok__section-part-2 a {
        font-size: 80% !important;
    }
    .notifications-blok__section-part-3 a {
        width: 25px;
        font-size: 80%;
    }
    .notifications-blok__section-part-3__span {
        width: 120px !important;
        font-size: 85% !important;
    }
    .notifications-blok__section-part-3__icon {
        width: 18px !important;
        height: 18px !important;
    }
}

@media (max-width: 450px) {
    .notifications-blok__section-part-2 {
        width: 200px;
    }
}