.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    color: #000;
    transition: .5s;
    cursor: pointer;
    font-style: 110%;
}

.pagination button[disabled] {
    padding: 10px 20px;
    background-color: #ededed;
    border: none;
    border-radius: 2px;
    color: #000;
    transition: .5s;
    cursor: pointer;
    font-style: 110%;
}

.pagination button.active {
    background-color: var(--blue-light-color);
    color: #fff;
}


.pagination button:hover {
    opacity: .5;
}

.pagination span {
    font-family: sans-serif;
}