.registration {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.registration-blok__section-1 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.registration-blok__section-1 {
    display: flex;
    justify-content: center;
}

.registration-blok__section-2 {
    margin-top: 50px;
}