.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.signup-form h1 {
    text-align: center;
}

.signup-form button {
    width: 300px;
    font-size: 110%;
    padding: 7px 10px;
    cursor: pointer;
    background-color: var(--blue-light-color);
    color: #fff;
    border: none;
    transition: .5s;
}

.signup-form button:hover {
    opacity: .7;
}

.signup-form__section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.signup-form__section p {
    font-weight: bold;
}

.signup-form__section p a {
    color: var(--blue-color);
    transition: .5s;
}

.signup-form__section p a:hover {
    opacity: .7;
}

.signup-form__section-part {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-form__section-part label {

}

.signup-form__section-part input {
    width: 300px;
    font-size: 110%;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.signup-form__section-part select {
    width: 300px;
    font-size: 110%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.signup-form__section-part select option {
    width: 300px;
    font-size: 110%;
    padding: 5px 10px;
}